<?xml version="1.0" ?>

<launch>
  <include file="$(find three_wheel_omni_robot)/launchs/omni_configuration.launch"/> 
<remap from="/odometry/filtered" to="/odom" />
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_filter" output="screen">
	<rosparam file="$(find three_wheel_omni_robot)/config/ekf_params.yaml" command="load"/>
</node> 
  <include file="$(find three_wheel_omni_robot)/launchs/hslam.launch"/> 
</launch>
