<?xml version="1.0" ?>
<launch>
  <arg name="map_file" default="$(find three_wheel_omni_robot)/maps/my_map.yaml"/>  

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/>
  </node>



  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find three_wheel_omni_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find three_wheel_omni_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find three_wheel_omni_robot)/config/costmap_params.yaml" command="load" />
    <rosparam file="$(find three_wheel_omni_robot)/config/move_base.yaml" command="load" />
    <rosparam file="$(find three_wheel_omni_robot)/config/planner_params.yaml" command="load" />
    <rosparam file="$(find three_wheel_omni_robot)/config/recovery_behaviors.yaml" command="load" />
    
  </node>
  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
  <rosparam file="$(find three_wheel_omni_robot)/config/amcl_params.yaml" command="load" />
  </node>
</launch>

