<?xml version="1.0" ?>
<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/odom" />
  <arg name="scan_topic"  default="/scan" />
  <arg name="move_forward_only" default="true"/>

  <!-- move_base (không c?n map_server, không c?n amcl) -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	<param name="controller_frequency" value="3.0" />
	<param name="planner_frequency" value="0.1" />
	<param name="transform_tolerance" value="0.4" />

    <rosparam file="$(find three_wheel_omni_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find three_wheel_omni_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find three_wheel_omni_robot)/config/costmap_params.yaml" command="load" />
    <rosparam file="$(find three_wheel_omni_robot)/config/move_base.yaml" command="load" />
    <rosparam file="$(find three_wheel_omni_robot)/config/planner_params.yaml" command="load" />
    <rosparam file="$(find three_wheel_omni_robot)/config/recovery_behaviors.yaml" command="load" />
  </node>
</launch>

